<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
        <link rel="stylesheet" href="https://la-sw-1.b-cdn.net/tailwind.css">
        <title>{{title}}</title>
        <meta charset="utf-8">
        <style>
            @font-face { font-family: 'IBMPlexSansKR-Text'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff'); font-weight: normal; font-style: normal; }
            @font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }
            .title { font-family: 'IBMPlexSansKR-Text'; }
            body {font-family: 'NEXON Lv1 Gothic OTF';}
        </style>
    </head>
    <body x-data="{ isMobileMenuOpen: false, tab: '{{currentTab}}'}">
        <div class="min-h-screen bg-white">
            <nav class="bg-white border-b border-gray-200">
              <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                  <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                      <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg" alt="Workflow logo">
                      <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-on-white.svg" alt="Workflow logo">
                    </div>
                    <div class="hidden sm:-my-px sm:ml-6 sm:flex">
                      <a href="{% url 'home' %}" @click="tab=1"
                      :class="{'tab-selected focus:tab-selected-focus' : tab == 1, 'tab-unselected hover:tab-unselected-hover focus:tab-unselected-focus': tab!=1}"
                      class="tab">
                        Home
                      </a>
                      <a @click="tab=2"
                      href="{% url 'new' %}"
                      :class="{'tab-selected focus:tab-selected-focus' : tab == 2, 'tab-unselected hover:tab-unselected-hover focus:tab-unselected-focus': tab!=2}"
                      class="ml-8 tab">
                        New Post
                      </a>
                      <p
                      href="#"
                      :class="{'tab-selected focus:tab-selected-focus' : tab == 3, 'tab-unselected hover:tab-unselected-hover focus:tab-unselected-focus': tab!=3}"
                      class="ml-8 tab">
                        Edit
                    </p>
                      <a @click="tab=4"
                       href="#"
                       :class="{'tab-selected focus:tab-selected-focus' : tab == 4, 'tab-unselected hover:tab-unselected-hover focus:tab-unselected-focus': tab!=4}"
                      class="ml-8 tab">
                        Calendar
                      </a>
                    </div>
                  </div>
                
                  <div @click="isMobileMenuOpen = !isMobileMenuOpen" class="-mr-2 flex items-center sm:hidden">
                    <!-- Mobile menu button -->
                    <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                      <svg x-show="!isMobileMenuOpen" class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                      <svg x-show="isMobileMenuOpen" class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
          
              <div
              x-show="isMobileMenuOpen"
              class="sm:hidden"
              x-transition:enter="transition ease-out duration-150 transform"
              x-transition:enter-start="opacity-0 scale-100"
              x-transition:enter-end="opacity-100 scale-100"
              x-transition:leave="transition ease-in duration-100 transform"
              x-transition:leave-start="opacity-100 scale-100"
              x-transition:leave-end="opacity-0 scale-100"
              >
                <div class="pt-2 pb-3">
                  <a href="{% url 'home' %}" @click="tab=1"
                  :class="{'mobile-menu-selected focus:mobile-menu-selected' : tab == 1, 'mobile-menu focus:mobile-menu-focus hover:mobile-menu-hover': tab!=1}"
                  class="">Home</a>
                  <a href="{% url 'new' %}" @click="tab=2"
                  :class="{'mobile-menu-selected focus:mobile-menu-selected' : tab == 2, 'mobile-menu focus:mobile-menu-focus hover:mobile-menu-hover': tab!=2}"
                  class="mt-1">New Post</a>
                  <p
                  :class="{'mobile-menu-selected focus:mobile-menu-selected' : tab == 3, 'mobile-menu focus:mobile-menu-focus hover:mobile-menu-hover': tab!=3}"
                  class="mt-1">Edit</p>
                  <a href="#" @click="tab=4"
                  :class="{'mobile-menu-selected focus:mobile-menu-selected' : tab == 4, 'mobile-menu focus:mobile-menu-focus hover:mobile-menu-hover': tab!=4}"
                  class="mt-1">Calendar</a>
                </div>
            </nav>
          
            <div class="py-10">
              <header>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                  <h1 class="text-3xl font-bold leading-tight text-gray-900 title mb-4">
                    {{header}}
                  </h1>
                </div>
              </header>
              <main>
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                  {% block content %}
                  {% endblock %}
                </div>
              </main>
            </div>
          </div>
          
    </body>
</html>