{% extends 'base.html' %}
{% block content %}
        <div class="mx-auto w-full">
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %}
                <div>
                    <div class="relative mt-4">
                        <input name="title" id="title" class="form-input block w-full title text-xl" placeholder="제목">
                    </div>
                </div>
                <div class="relative mt-4 mb-4">
                    <textarea name="body" id="body" cols="30" rows="20" class="form-input block w-full" placeholder="내용"></textarea>
                </div>
                <div class="flex items-center">
                    <input id="not_human" name="not_human" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-500 transition duration-150 ease-in-out" checked>
                    <label for="not_human" class="ml-2 block text-sm leading-5 text-black">
                      사람이 아닙니다.
                    </label>
                  </div>
                  <span class="inline-flex rounded-md shadow-sm">
                    <button type="submit" class="mt-4 inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                      등록
                    </button>
                  </span>
            </form>
        </div>
        {% endblock %}